html
{
	font-family: 'Slabo 27px', serif;
	background-color: #E7FEFF;
}

.socialmedia
{
	float: left;
}

.links
{
	float: right;
}

#aboutme
{
	display: inline-block;
}

.picture-right
{
	float: right;
	margin: 10px;
}

.picture-left
{
	/*float: left;*/
	margin: 10%;
}

.picture-left.thumbnail
{
	width: 200px;
	height: 200px;
}

.picture-right.thumbnail
{
	width: 200px;
	height: 200px;
}

.thumbnail
{
	width: 20%;
	height: 20%;
}

.horizon
{
	width: 100%;
	height: 200px;
}

#portfolio
{
	float: left;
	padding-bottom: 25%
}


.website-image
{
	vertical-align: top;
	display: inline-block; /*Eliminate width, height, and margin-left for mobile devices*/
	width: 20%;
	height: 20%;
	margin-left: 10%;
}

/* accordions  - http://codepen.io/CesarGabriel/pen/tLDwH */
#accordion input {
	display: none;
}
#accordion label {
	background: #E89B0C;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: .125em;
	padding: .25em 1em;
	z-index: 20;
}
#accordion label:hover {
	background: #E89B0C;
}

#accordion input:checked + label {
	background: #E89B0C;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0;
}
#accordion article {
	background: #E7FEFF;
	height:0px;
	overflow:hidden;
	z-index:10;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
	border: lightblue dashed;
}

@media screen and (max-device-width: 900px) {
	html{
		font-size: 4em;
	}
	.website-image
	{
		display: inline-table;
		width: 100%;
	}
	.picture-left
	{
		margin: 0%;
	}

	.horizon
	{
		display: none;
	}
	.website-image img
	{
		display: none;
	}

	.socialmedia img
	{
		height: 5%;
	}
}