html
{
	font-family: 'Slabo 27px', serif;
	background-color: #E7FEFF;
}

.socialmedia
{
	float: left;
}

.links
{
	float: right;
}

#aboutme
{
	display: inline-block;
}

.picture-right
{
	float: right;
	margin: 10px;
}

.picture-left
{
	/*float: left;*/
	margin: 10%;
}

.picture-left.thumbnail
{
	width: 200px;
	height: 200px;
}

.picture-right.thumbnail
{
	width: 200px;
	height: 200px;
}

.thumbnail
{
	width: 20%;
	height: 20%;
}

.horizon
{
	width: 100%;
	height: 200px;
}


.website-image
{
	display: inline-block; /*Eliminate width, height, and margin-left for mobile devices*/
	width: 20%;
	height: 20%;
	margin-left: 10%;
}