<!DOCTYPE html>
<head>
  <title> {{ page.title_bar }} </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/blog-stylesheet.css">
</head>

<main>
{% include social_media.html %}
    <section class="links">
      <a href="../index.html">Home/Portfolio</a>
      <a href="index.html">Blog</a>
    </section>
  <h1>{{ page.post_title }}</h1>
  <h2>{{ page.post_subtitle }}</h2>
  <h4>{{ page.date | date_to_long_string }}</h4>

  <section>
  {{ content }}
  </section>
  <a href="index.html">Return back to Blog Index</a>
</main>

